# Managed by Ansible
Types: deb
URIs: https://apt.postgresql.org/pub/repos/apt
Suites: {{ ansible_facts.distribution_release }}-pgdg
Components: main
Signed-By: /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc
